* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 20px;
    color: black;
    border-radius: 50px;
}

@media (orientation: portrait) {
    button {
      background-color: aqua;
    }
}
  
@media (orientation: landscape) {
    button {
      background-color: yellow;
    }
}